<template>
    <p v-if="message"
        class="form-help is-danger">{{ message }}</p>
</template>

<script>
import messages from './FieldErrorMessages';

export default {
    props: {
        validator: {
            type: Object,
            required: true,
        },

        label: {
            type: String,
            default: 'above',
        },
    },

    computed: {
        rule() {
            const rules = Object.keys(this.validator.$params)
                .filter(rule => this.validator[rule] === false);
            return rules[0] || false;
        },

        message() {
            if (!this.validator.$dirty && this.validator.serverError) {
                return this.validator.serverError;
            }
            if (this.validator.$error && !this.validator[this.rule]) {
                return messages[this.rule]
                    ? messages[this.rule](this.label.toLowerCase(),
                        this.validator.$params[this.rule])
                    : 'Unknown error.';
            }

            return null;
        },
    },
};
</script>
